openapi: 3.1.0
info:
  title: VirusTotal Threat Intelligence Plugin
  description: Plugin for Security Copilot to query VirusTotal for threat intelligence on files, URLs, IPs, and domains.
  version: 1.0.0
servers:
  - url: https://www.virustotal.com/api/v3
paths:
  /files/{id}:
    get:
      summary: Lookup a file hash (SHA256/MD5/SHA1)
      parameters:
        - name: id
          in: path
          required: true
          description: The file hash to lookup
          schema:
            type: string
      responses:
        '200':
          description: Filtered file analysis result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileReport'
      security:
        - api_key: []

  /urls:
    post:
      summary: Submit a URL for scanning
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                url:
                  type: string
      responses:
        '200':
          description: Submission result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string

  /urls/{id}:
    get:
      summary: Retrieve URL analysis result
      parameters:
        - name: id
          in: path
          required: true
          description: Encoded URL ID (use base64 of the URL without padding)
          schema:
            type: string
      responses:
        '200':
          description: Filtered URL analysis result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlReport'
      security:
        - api_key: []

  /ip_addresses/{id}:
    get:
      summary: Retrieve IP address report
      parameters:
        - name: id
          in: path
          required: true
          description: IP address to analyze
          schema:
            type: string
      responses:
        '200':
          description: Filtered IP address data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPReport'
      security:
        - api_key: []

  /domains/{id}:
    get:
      summary: Retrieve domain report
      parameters:
        - name: id
          in: path
          required: true
          description: Domain name to analyze
          schema:
            type: string
      responses:
        '200':
          description: Filtered domain report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainReport'
      security:
        - api_key: []

components:
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: Authorization
  schemas:
    FileReport:
      type: object
      properties:
        type:
          type: string
        id:
          type: string
        last_analysis_stats:
          type: object
          properties:
            harmless:
              type: integer
            malicious:
              type: integer
            suspicious:
              type: integer
            undetected:
              type: integer
        type_description:
          type: string
        meaningful_name:
          type: string

    UrlReport:
      type: object
      properties:
        id:
          type: string
        last_analysis_stats:
          type: object
          properties:
            harmless:
              type: integer
            malicious:
              type: integer
            suspicious:
              type: integer
            undetected:
              type: integer
        categories:
          type: object
        reputation:
          type: integer

    IPReport:
      type: object
      properties:
        country:
          type: string
        as_owner:
          type: string
        last_analysis_stats:
          type: object
          properties:
            harmless:
              type: integer
            malicious:
              type: integer
            suspicious:
              type: integer
            undetected:
              type: integer

    DomainReport:
      type: object
      properties:
        registrar:
          type: string
        categories:
          type: object
        last_analysis_stats:
          type: object
          properties:
            harmless:
              type: integer
            malicious:
              type: integer
            suspicious:
              type: integer
            undetected:
              type: integer
